{% extends 'home_index.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

{% endblock %}

{% block body %}

{%  load static %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- üst Yol -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
        <li><a href="/">HOME</a></li>
         <li class="active"><a href="">About Us</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

<div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ setting.aboutus | safe }}
        </div>
      </div>
    </div>




  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->




{% endblock %}
{% block foot %}



{% endblock %}
