{%  load static %}

<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Mauris venenatis molestie</h3>
      <p class="nospace">Neque et posuere proin elementum luctus risus sit amet aliquet rutrum <a href="#">cras consectetur</a>.</p>
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-key"></i></a>
          <h6 class="heading">euismod interdum</h6>
          <p>mauris aliquet neque a interdum est ex dapibus dui nunc id metus varius vehicula ante nec velit etiam sem arcu varius in lacus sed rhoncus&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-language"></i></a>
          <h6 class="heading">varius convallis</h6>
          <p>sagittis nunc sed congue nunc non ultrices tincidunt morbi accumsan commodo eros nec posuere donec rhoncus quis nisl non tempor&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-laptop"></i></a>
          <h6 class="heading">iaculis dictum</h6>
          <p>natoque penatibus et magnis dis parturient montes nascetur ridiculus mus vivamus dictum interdum cum sociis natoque penatibus&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-bar-chart"></i></a>
          <h6 class="heading">efficitur tempus</h6>
          <p>parturient montes nascetur ridiculus mus praesent eleifend nulla quis volutpat gravida diam sapien viverra sem ut faucibus quam&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-music"></i></a>
          <h6 class="heading">donec lobortis</h6>
          <p>aliquam tristique diam a aliquet purus enim placerat dui eget efficitur purus eros at elit aenean tristique dui quam sit amet pharetra arcu&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-bolt"></i></a>
          <h6 class="heading">tellus dignissim</h6>
          <p>sit amet nam malesuada volutpat elit eget suscipit nulla bibendum at quisque in odio at nulla pretium convallis eu vel dui&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/02.png');">
  <div class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Dapibus massa efficitur</h3>
      <p class="nospace">Enim a sapien quis elementum cursus ante in ultrices turpis <a href="#">metus porttitor</a>.</p>
    </div>
    <ul class="nospace group elements">
      <li class="one_third first">
        <figure><img src="{% static 'images/demo/320x220.png' %}" alt="">
          <figcaption><a href="#">Arcu maximus</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="{% static 'images/demo/320x220.png' %}" alt="">
          <figcaption><a href="#">Sed praesent</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="{% static 'images/demo/320x220.png' %}" alt="">
          <figcaption><a href="#">Risus posuere</a></figcaption>
        </figure>
      </li>
    </ul>
    <p class="nospace center"><a class="btn" href="#">Nec quisque dictum</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url('images/demo/backgrounds/03.png');">
  <ul class="nospace group clrbox">
    <!-- ################################################################################################ -->
    <li>
      <article>
        <h4 class="heading">Nulla orci vel lobortis</h4>
        <p>Ultricies odio est quis semper mauris semper et vivamus quis enim pretium fermentum est vitae suscipit nunc&hellip;</p>
        <p><a class="btn" href="#">Justo duis</a></p>
      </article>
    </li>
    <li>
      <article>
        <h4 class="heading">Phasellus condimentum</h4>
        <p>Integer eu turpis quis leo rhoncus ultrices vitae nec metus duis risus eros hendrerit id faucibus ac pharetra&hellip;</p>
        <p><a class="btn inverse" href="#">Eget dolor</a></p>
      </article>
    </li>
    <li>
      <article>
        <h4 class="heading">Lobortis erat et molestie</h4>
        <p>Etiam venenatis mi quam vehicula iaculis eros sagittis nec morbi vitae mollis dui duis sit amet condimentum&hellip;</p>
        <p><a class="btn" href="#">Tellus nullam</a></p>
      </article>
    </li>
    <!-- ################################################################################################ -->
  </ul>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Vulputate egestas diam</h3>
      <p class="nospace">Lacinia orci dignissim a integer malesuada tincidunt fermentum vivamus eu tortor ut <a href="#">sapien egestas</a>.</p>
    </div>
    <div class="group">
      <article class="one_third first"><a href="#"><img class="btmspace-30" src="{% static 'images/demo/320x220.png ' %}" alt=""></a>
        <h4 class="nospace btmspace-10 font-x1 uppercase">Posuere morbi feugiat</h4>
        <ul class="nospace btmspace-10 group font-xs">
          <li class="fl_left">
            <time datetime="2045-04-06">6<sup>th</sup> April 2045</time>
          </li>
          <li class="fl_right">by <a href="#">Admin</a></li>
        </ul>
        <hr>
        <p>Faucibus et a nulla praesent consequat dolor ex vitae hendrerit metus lectus suscipit vitae vivamus ultrices sem tortor augue pharetra&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="{% static 'images/demo/320x220.png ' %}" alt=""></a>
        <h4 class="nospace btmspace-10 font-x1 uppercase">Urna ipsum vulputate</h4>
        <ul class="nospace btmspace-10 group font-xs">
          <li class="fl_left">
            <time datetime="2045-04-05">5<sup>th</sup> April 2045</time>
          </li>
          <li class="fl_right">by <a href="#">Admin</a></li>
        </ul>
        <hr>
        <p>Nunc lacinia vel integer sed tincidunt ipsum nullam at quam non risus maximus consectetur vitae ut nisi praesent vel mauris ut eros&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="{% static 'images/demo/320x220.png ' %}" alt=""></a>
        <h4 class="nospace btmspace-10 font-x1 uppercase">Felis posuere mauris</h4>
        <ul class="nospace btmspace-10 group font-xs">
          <li class="fl_left">
            <time datetime="2045-04-04">4<sup>th</sup> April 2045</time>
          </li>
          <li class="fl_right">by <a href="#">Admin</a></li>
        </ul>
        <hr>
        <p>Rhoncus pharetra sed eleifend ante sit amet diam porttitor vitae tempor eros posuere integer consequat enim nisl sed posuere sapien&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded coloured overlay" style="background-image:url('/static/images/demo/backgrounds/04.png');">
  <article class="hoc container clear center">
    <!-- ################################################################################################ -->
    <h6 class="heading">Posuere quis dictum congue praesent elit eget hendrerit</h6>
    <p class="nospace"><a class="btn" href="#">Blandit donec</a></p>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->