{%  load static %}

<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="title">Imperdiet diam et ante</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          {{ setting.address }}
          </address>
        </li>
        <li><i class="fa fa-phone"></i> {{ setting.phone }}</li>
        <li><i class="fa fa-fax"></i> {{ setting.fax }}</li>
        <li><i class="fa fa-envelope-o"></i> {{ setting.email }}</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Tincidunt vitae viverra</h6>
      <ul class="nospace linklist">
        <li><a href="#">At neque eu pharetra etiam ornare</a></li>
        <li><a href="#">Neque vel arcu faucibus venenatis</a></li>
        <li><a href="#">A lacinia lectus non gravida maecenas</a></li>
        <li><a href="#">Sagittis nec turpis viverra venenatis</a></li>
        <li><a href="#">Nunc elementum vestibulum at</a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Turpis in elementum</h6>
      <p class="btmspace-30">Eget turpis cras cursus dolor sit amet lectus pretium ut consequat.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>