{% load static %}

<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="fl_left">
            <ul class="nospace inline pushright">
                <li><i class="fa fa-phone"></i> {{ setting.phone }}</li>
                <li><i class="fa fa-envelope-o"></i> {{ setting.email }}</li>
                <li>
                    <form method="post" action="/search/0">
                        {% csrf_token %}
                        <table>
                            <td>{{ sform1.category }}</td>
                            <td>{{ sform1.location }}</td>
                            <td>{{ sform1.gear }}</td>
                            <td>{{ sform1.fuel }}</td>
                            <td><input type="submit" value="Search"></td>
                        </table>

                    </form>

                </li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="{{ setting.facebook }}"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-instagram" href="{{ setting.instagram }}"><i class="fa fa-instagram"></i></a></li>
                <li><a class="faicon-twitter" href="{{ setting.twitter }}"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-youtube" href="{{ setting.youtube }}"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <h1><a href="/">{{ setting.title }}</a></h1>
        </div>
        <div id="quickinfo" class="fl_right">
            <ul class="nospace inline">
                <li><strong>Telefon:</strong><br>
                    {{ setting.phone }}</li>
                <li><strong>Fax:</strong><br>
                    {{ setting.fax }}</li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
            <li class="active"><a href="/">Home</a></li>

            <li>
                <a class="drop" href="#">CATEGORIES</a>
                {% load mptt_tags %}
                <ul>
                    {% recursetree category %}
                        <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                            <!-- alt kategoriler olmadığı için yorum olarak bırakılmıştır -->
                            {#                        {% if not node.is_leaf_node %}#}
                            {#                                            <ul>#}
                            {#                                            <li><a href="c">{{ children }}</a></li>#}
                            {#                                            </ul>#}
                            {#                        {% endif %}#}
                        </li>
                    {% endrecursetree %}
                </ul>
            </li>

            <li><a href="/search/1">Search</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/referances">REFERANCES</a></li>
            <li><a href="/fag">FAQ</a></li>

            {% if user.id is not None %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">{{ user.username }} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/user">My Acoount</a></li>
                        <li><a href="/user">User Profile</a></li>
                        <li><a href="/user/user_otomobils">My Otomobils</a></li>
                        <li><a href="/user/comments">My Comments</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a class="drop" href="#">Sign In</a>
                    <ul>
                        <li><a href="/login">Sign In</a></li>
                        <li><a href="/signup">Sign Up</a></li>

                    </ul>
                </li>
            {% endif %}
        </ul>
        <!-- ################################################################################################ -->
    </nav>
</div>