{% extends 'home_index.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

{% endblock %}

{% block body %}

{%  load static %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- üst Yol -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
        <li><a href="/">HOME</a></li>
         <li class="active"><a href="">Sign In</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

<div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="/">Sign In Form</a>
                      {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                <h4>Sign in to your account</h4>
              </div>
              <form class="contactform" method="post" action="">
                  {% csrf_token %}
                <div class="aa-single-field">
                  <label for="email">User Name <span class="required">*</span></label>
                  <input type="text" required="required" aria-required="true" value="" name="username">
                </div>
                <div class="aa-single-field">
                  <label for="password">Password <span class="required">*</span></label>
                  <input type="password" name="password">
                </div>
                <div class="aa-single-field">
                <label>
                  <input type="checkbox"> Remember me
                </label>
                </div>
                <div class="aa-single-submit">
                  <input type="submit" value="Sing In" class="aa-browse-btn" name="submit">
                  <p>Don't Have A Account Yet? <a href="register.html">CREATE NOW!</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>




  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->




{% endblock %}
{% block foot %}



{% endblock %}
