{% extends 'home_index.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

{% endblock %}

{% block body %}

{%  load static %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- üst Yol -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
        <li><a href="/">HOME</a></li>
         <li class="active"><a href="">Sign In</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->


<div class="container">
            <!-- row -->



<div class="col-md-12">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Change Password</h3>
                        </div>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="primary-btn" type="submit">Save changes</button>
                    </form>

                </div>
            <!-- /row -->
</div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->




{% endblock %}
{% block foot %}



{% endblock %}

