{% extends 'home_index.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

{% endblock %}

{% block body %}

{%  load static %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- üst Yol -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
        <li><a href="/">HOME</a></li>
         <li class="active"><a href="">Sign In</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->


<div class="container">
            <!-- row -->



<div class="col-md-12">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Profile Update</h3>
                        </div>
                    </div>

                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form.as_p  }}
                            {{ profile_form.as_p  }}
                        </fieldset>
                        <div class="form-group">
                            <button class="primary-btn" type="submit">Update</button>
                        </div>
                    </form>

                </div>


       <!-- /row -->
</div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->




{% endblock %}
{% block foot %}



{% endblock %}


