{% extends 'home_index.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

{% endblock %}

{% block body %}

{%  load static %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- üst Yol -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
        <li><a href="/">HOME</a></li>
         <li class="active"><a href="">My Advantures</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

 <div class="container">
      <div class="row">
                       <div class="col-md-9">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Advanture List</h3>
                              {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{message.tags}}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}


                        </div>
                        <table class="shopping-cart-table table">

                        <tr>
                            <th class="text-left">
                                <a href="/user/user_advantures_add" class="primary-btn">Add New Advanture</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-left">Advanture </th>
                            <th class="text-left">Image</th>
                            <th class="text-left">Category</th>
                            <th class="text-left">Price</th>
                            <th class="text-left">Area</th>
                            <th class="text-left">Status </th>
                            <th class="text-left">Date </th>
                            <th class="text-left">Update</th>
                            <th class="text-left">Delete</th>

                        </tr>
                        {% for rs in advantures %}
                            <tr>
                                <td class="text-left">
                                    <a href="/rentalad/{{ rs.id}}/{{ rs.slug }}">
                                        <strong> {{ rs.title}}</strong>
                                    </a>
                                </td>
                                <td class="text-left"><img src="{{ rs.image.url}}" width="50"/> </td>
                                <td class="text-left">{{ rs.category}} </td>
                                <td class="text-left">{{ rs.price}} </td>
                                <td class="text-left">{{ rs.day}} </td>
                                <td class="text-left">{{ rs.status.title}} </td>
                                <td class="text-left">{{ rs.create_at}} </td>
                                <td class="text-left">
                                    <a class="primary-btn" href="/user/update_advanture/{{ rs.id }}" onclick="return confirm('Will be Update ! Are you sure?')"> Update </a>
                                </td>
                                <td class="text-left">
                                    <a class="primary-btn" href="/user/delete_advanture/{{ rs.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                    </div>

                </div>


      </div>
    </div>




  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->




{% endblock %}
{% block foot %}



{% endblock %}



